body {
  background-color: #03045e;
  color: white;
}

.card {
  background-color: #023e8a;
}
.my-card-body {
  background-color: #0077b6;
}
.card-title {
  font-size: 9rem;
}

/* Mobile */
@media (max-width: 575px) {
  .card-title {
    font-size: 2rem;
  }
  .display-1 {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

/* Tablet */
@media (max-width: 991px) and (min-width: 576px) {
  .card-title {
    font-size: 4rem;
  }
}
